	<%= render 'post_books/list', post_books: @post_books %>
<br>
<br>

<div class="containar">
	<div class="row">
		<div class="col-xs-11 col-xs-offset-1">
			<p>
				<% flash.each do |key, value| %>
					<%= content_tag( :div, value, class: "#{key}") %>
				<% end %>
			</p>
		</div>
	</div>
</div>

	<div class="body">
		<div class="containar">
			<div class="row">
				<div class="col-xs-2 col-xs-offset-1">
					<h2>Users info</h2>
						<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %>
							<table class= "table">
								<tbody>
									<tr></tr>
									<tr>
										<th>name</th>
										<th><%= @user.name %></th>
									</tr>
									<tr>
										<th>intoroduction</th>
										<th><%= @user.introduction %></th>
									</tr>
								</tbody>
							</table>
					<div class="row">
						<% if @user.id == current_user.id %>
							<a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench" <%= link_to "", edit_user_path(@user) %></a>
						<% end %>
					</div>



					<h2>New book</h2>
						<%= form_for(@post_book) do |f| %>
							<div class="field row">
								<label for="book_name">Title</label>
									<%= f.text_field :book_name, class: "col-xs-12" %>
									<span class="fa fa-building form-control-icon" aria-hidden="true"></span>
							</div>
							<br>
							<div class="field row">
								<label for="caption">Opinion</label>
									<%= f.text_area :caption, class: "col-xs-12" %>
							</div>
							<br>
							<br>

							<div class="action row">
								<%= f.submit "Create Book", class: "col-xs-12 btn btn-primary" %>
							</div>
						<% end %>
				</div>


				<div class="col-xs-8">
					<h2>Books</h2>
						<table class="table table-hover table-inverse">
							<thead>
								<tr>
									<th></th>
									<th>title</th>
									<th colspan="3">Option</th>
								</tr>
							</thead>
							<tbody>
							<% @post_books.each do |post_book| %>
								<tr>
									<td>
										<%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg', class: "", fallback: "no_image.jpg", :size => "40x40" %>
									</td>
									<td><%= link_to post_book_path(post_book.id) do %>
											<%= post_book.book_name %>
										<% end %>
									</td>
									<td><%= post_book.caption %></td>
								</tr>
							<% end %>
							</tbody>
						</table>
				</div>
			</div>
		</div>
	</div>


<footer>
	<div class="containar">
		<div class="row">
			<div class="col-xs-3 col-xs-offset-9">
				<p>CopyRight Infreatop.ink</p>
			</div>
		</div>
	</div>
</footer>

